
body{
  
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  
  background-size:100%;
  
  
  
}
.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 400px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 30px;
  background:white;
  opacity: 0.8;

  
  
}

.card ul {
  text-align: left;
  list-style: none;
  padding: 0;
}
.country{
  display:flex;
  padding:50px;
  top:-40px;
  color: rgb(47, 75, 201);
}
.country li{
  font-size:40px;
}
.temp{
  display: flex;
}
.temp img{
  width: 250px;
  height: 250px;

}
.temp li{
  margin-left:-20px;
  font-size: 40px;
}
.sumits{
  font-size: 24px;
}
button{
  background-color: rgb(53, 196, 141);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}